{
  "presets": [
    "es2015",
    "stage-0",
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "foo": "./src/test1/foo",
      },
      "extensions": ["index.js", ".js", ".jsx"]
    }]
  ],
  "env": {
    "production": {
      "presets": [
        "babili"
      ],
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
